.app-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex: 1; /* Para ocupar todo o #root */
  overflow: hidden;
}

@media (max-width: 768px) {
  .app-container {
    flex-direction: column;
  }
}
